@page
@model Faellesskabet_Web.Pages.Nyheder.DeleteModel
@{
	Layout = "~/Pages/Shared/_StaffLayout.cshtml";
}

<h3 class="text-center text-white font-weight-bold mt-4" style="text-shadow: 2px 2px 8px #808080;">Er du sikker på at du vil slette?</h3>
<div>
	<div class="row justify-content-center mt-2 pt-2 mx-0">
		<div class="col-sm-12 col-md-10 col-lg-8 col-xl-8">
			<form method="post" class="text-center">
				<input type="hidden" asp-for="Nyhed.Id" />
				<input type="submit" value="Ja slet!" class="btn btn-danger" />
				<a asp-page="./Index" class="btn btn-secondary">Tilbage</a>
			</form>
			<div class="row border-fancy justify-content-center my-3">
				<div class="col">
					<div class="">
						<div class="text-center">
							<small class="font-italic">@Model.Nyhed.PublishDate.ToLongDateString()</small>
						</div>
					</div>
					<div class="text-center mt-3 img-fluid">
						@if (Model.Nyhed.ImageContent != null)
						{
							<img style="max-width: 100%; height: auto" src="data:image/jpg;base64, @Convert.ToBase64String(Model.Nyhed.ImageContent)" alt="" />
						}
						else
						{
							@Model.Nyhed.TextContent
						}
					</div>
				</div>
			</div>

		</div>
	</div>
</div>