@page
@model ConfirmEmailModel
@{
	ViewData["Title"] = "Bekræft email";
}
<div class="row justify-content-sm-center mt-5">
	<div class="col-md-5">
		<div class="border-fancy text-center">
			<h1>Tak</h1>
			<p>Du kan nu logge ind</p>
		</div>
	</div>
</div>