@page
@model LogoutModel
@{
	ViewData["Title"] = "Log ud";
}

<div class="row justify-content-sm-center mt-5">
	<div class="col-md-5">
		<div class="border-fancy text-center">
			<h1>@ViewData["Title"]</h1>
			<p class="mt-4">Du er nu logget ud.</p>
		</div>
	</div>
</div>