@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<div class="row justify-content-sm-center mt-5">
	<div class="col-md-5">
		<div class="border-fancy text-center">
			<h1>Tjek venligst din email</h1>
			<p class="mt-4">For at bekræfte du er ejeren af den email du har indtastet<br /> har vi sendt en email med et link</p>
		</div>
	</div>
</div>
