@page
@model Faellesskabet_Web.Pages.Bestyrelsen.Settings.CreateModel
@{
	Layout = "~/Pages/Shared/_StaffLayout.cshtml";
}

<h3 class="text-center text-white font-weight-bold mt-4" style="text-shadow: 2px 2px 8px #808080;">Bestyrelse</h3>


<div class="row justify-content-center mt-3">
	<div class="col-md-4 border-fancy m-2 p-3">
		<form method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Bestyrelse.Name" class="control-label">Navn</label>
				<input asp-for="Bestyrelse.Name" class="form-control" />
				<span asp-validation-for="Bestyrelse.Name" class="text-danger"></span>
			</div>

			<label asp-for="Bestyrelse.MemberType" class="control-label">Rolle</label>
			<select asp-for="Bestyrelse.MemberType" name="Bestyrelse.MemberType" size="1" class="custom-select">
				<option value="Formand">Formand</option>
				<option value="Medlem">Medlem</option>
				<option value="Suppleant">Suppleant</option>
			</select>
			<span asp-validation-for="Bestyrelse.MemberType" class="text-danger"></span>

			<input hidden asp-for="Bestyrelse.Order" value="@Model.count" />

			<div class="form-group text-center mt-5">
				<input type="submit" value="Tilføj" class="btn btn-primary" />
				<a class="btn btn-secondary" asp-page="./Index">Tilbage</a>
			</div>
		</form>
	</div>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
